button, input {
  @include border-radius(4px);
  height: 42px;
  border-style: none;
  font-size: 1em;
  font-weight: 300;
}

button {
  background-color: $primary-blue;
  color: white;
  cursor: pointer;
  padding: 0 30px;

  &:disabled {
    background-color: $primary-medium-grey;
    cursor: auto;
  }
}

input, textarea {
  border: 1px solid $primary-medium-grey;
  margin-bottom: 25px;
  padding: 10px;
}

label {
  display: block;
  font-size: 0.8em;
  font-weight: 300;
  margin: 10px auto;
  position: relative;
  text-align: left;
}
