.side-bar-header {
  background-color: $primary-blue;
  color: $white;
  height: 55px;
  width: 100vw;
}

.side-bar-icon {
  height: 30px;
  display: inline-block;
  float: left;
  margin: 12px 21px 12px 26px;
}

.side-bar-admin {
  padding-left: 73px;
  padding-top: 19px;
  text-align: left;
}
