.login {
  background: url('../images/volit_login_background.png') no-repeat center center fixed;
  @include background-size(cover);
  height: 100vh;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100vw;
  text-align: center;
}

.login-form-container {
  background: white;
  border: $component-shadow;
  @include border-radius(8px);
  box-shadow: 0px 1px 4px rgba(44, 64, 90, .21);
  color: $light-blue-text;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  label, input, button {
    width: 80%;
  }

  button {
    background-color: $green-button;
    color: white;
    margin-bottom: 50px;
  }

  p {
    margin: 30px auto;
    position: relative;
    width: 80%;
  }

}

.login-form-header {
  border-bottom: 1px solid #D8E5EE;

  .login-form-header-image {
    height: 60px;
    position: relative;
    bottom: 35px;
  }

  h2 {
    color: $dark-blue-text;
  }

  p {
    margin-top: 15px;
  }
}
