.side-bar {
  background-color: $primary-dark-grey;
  color: white;
  float: left;
  height: 100vh;
  min-height: 600px;
  position: fixed;
  width: 250px;
}

.organization-name {
  color: $white;
  font-weight: 200;
  line-height: 150%;
  margin: 15px;
  text-align: center;
}

.side-bar-item {
  height: 52px;
}

.link-icon {
  margin-left: 30px;
  margin-right: 10px;
}

.link {
  text-decoration: none;
  color: white;
  margin: 40px 10px;

  span {
    font-size: 0.8em;
    font-weight: 200;
    margin-top: 10px;
    position: relative;
    top: -20px;
  }
}

.side-bar-item:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

.profile-container {
  border-top: 1px solid $primary-medium-grey;
  bottom: -8px;
  padding: 30px;
  position: absolute;
  width: 100%;

  .profile-user-info {
    display: inline-block;
    font-size: 0.75em;
    word-wrap: break-word;
  }

  .profile-user-name {
    padding-bottom: 5px;
  }

  .profile-avatar {
    margin-right: 10px;
    width: 48px;
    @include border-radius(12px)
  }

  .logout-btn {
    color: $secondary-tan;
    font-size: 1em;
    padding: 0;
    text-decoration: none;
  }
}
