.side-bar {
  height: 100vh;
  width: 250px;
  float: left;
  background-color: $primary-dark-grey;
  color: white;
  position: fixed;
}

.side-bar-header {
  background-color: $primary-blue;
  height: 55px;
  width: 100vw;
}

.organization-name {
  color: $white;
  font-weight: 200;
  line-height: 150%;
  margin: 16px 0;
  text-align: center;
}

.side-bar-item {
  height: 52px;
}

.side-bar-icon {
  height: 30px;
  display: inline-block;
  float: left;
  margin: 12px 21px 12px 26px;
}

.side-bar-admin {
  padding-left: 73px;
  padding-top: 19px;
  text-align: left;
}

.link-icon {
  margin-left: 30px;
  margin-right: 10px;
}

.link {
  text-decoration: none;
  color: white;
  margin: 40px 10px;

  span {
    font-size: 0.8em;
    font-weight: 200;
    margin-top: 10px;
    position: relative;
    top: -20px;
  }
}

.side-bar-item:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

.profile-container {
  border-top: 1px solid $primary-medium-grey;
  position: absolute;
  bottom: 50px;
  width: 100%;
}

.logout-btn {
  height: 50px;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 10px;
  padding: 0px;
  width: 60px;
}
