body {
  font-family: $body-copy;
  font-size: 100%;
  letter-spacing: 0.025em;
}

h2 {
  color: $primary-dark-grey;
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
  line-height: 1.5em;
}

p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.25em;
}

a {
  color: $primary-yellow;
  font-size: 14px;
}
