body {
  font-family: $body-copy;
  font-size: 100%;
  letter-spacing: 0.025em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.25em;
}
